/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */


/* Containers */

$x-small: 600px !default;
$small: 800px !default;
$medium: 1000px !default;
$large: 1200px !default;

/* Breakpoints */

$mobile: $x-small !default;
$tablet: $small !default;
$desktop: $medium !default;

/* Padding */

$padding: 1rem !default;
$margin: 1rem !default;

/* Divider */

$divider-width: 1px !default;
$divider-style: solid !default;
$divider-color: rgba(0, 0, 0, 0.1) !default;
$divider: $divider-width $divider-style $divider-color !default;
