*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: "Assistant", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #111;
}
h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

p {
    margin: 3px 0;
}

.sideway
{
    writing-mode: vertical-lr;
    text-orientation: upright;
}
header {
    font-size: 1.3rem;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3), inset 0 0 1px 0 rgba(0,0,0,0.3);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#fff;
    clip-path: polygon(0 0, 465px 0, 490px 100%, 0 100%);
    background: linear-gradient(to right, 	rgb(55, 59, 68), rgb(66, 134, 244));
    z-index:-1;
}

img {
    max-height: 50px;
    width: auto;
}

main {
    background-color: rgba(0, 0, 0, 0.04);
}

main>div {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1), inset 0 0 1px 0 rgba(0,0,0,0.5);
    
}

main>div:nth-child(odd) {
    background-color: #506e9f30;
    border-radius: 5px;
}

main>div:nth-child(even) {
    background-color: #506e9f15;
    border-radius: 5px;
}

.demo-boxes {
    border: 2px dashed #aaa;
    counter-reset: box-number;
    background-color: #fff;
}

.demo-boxes.a1-row.fixed-size {
    width: 250px;
}

.demo-boxes.a1-column.fixed-size {
    height: 250px;
}

.demo-boxes>div {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.demo-boxes>div:nth-child(1) {
    background-color: #de703b;
}

.demo-boxes>div:nth-child(2) {
    background-color: #fcb040;
}

.demo-boxes>div:nth-child(3) {
    background-color: #506e86;
}

.demo-boxes>div+div+div+div {
    background-color: #f4f4f4;
}

.border
{
    border: 2px dashed #aaa;
}
.border>div {
    background-color: #fcb040;
    font-size:1.2rem;
}